<div class="ui-g-12 bgcolor">
  Home page
  <div class="ui-g-6 ui-sm-12 u-md-6 ui-lg-6 plyr__video-embed" id="player">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dsrku40uZMc" frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>

    
    <!-- <iframe
        src="https://www.youtube.com/embed/X9RKX4IzNVw"
        allowfullscreen
        allowtransparency
        allow="autoplay"
    ></iframe> -->
</div>
