<div class="ui-g-12 bgcolor">
        <ul *ngIf="mainsubjectname === 'Aptitude'">
            <li class="comlist">Numbers</li>
            <li class="comlist">LCM and HCF</li>
            <li class="comlist">Time Speed Distance</li>
            <li class="comlist">Percentages</li>
            <li class="comlist">Profit and Loss</li>
            <li class="comlist">Age</li>
            <li class="comlist">Boats and Streams</li>
            <li class="comlist">Simple Interest Compound</li>
            <li class="comlist">Interest Pipes and Cisterns Trains</li>
        </ul>  
        
        <ul *ngIf="mainsubjectname === 'Logical'">
            <li class="comlist">Blood Relation</li>
            <li class="comlist">Direction and Senses</li>
            <li class="comlist">Number Series</li>
            <li class="comlist">Data Sufficiency</li>
            <li class="comlist">Letter and Symbol Series</li>
            <li class="comlist">Statement and Assumption.</li>
            <li class="comlist">Statement and Conclusion.</li>
            <li class="comlist">Coding and Decoding</li>
            <li class="comlist"> Clocks Calender and Age</li>
     
        </ul>

            <ul *ngIf="mainsubjectname === 'Verbal'">
                <li class="comlist">Antonyms</li>
                <li class="comlist">Idioms and Phrases</li>
                <li class="comlist">Time Speed Distance</li>
                <li class="comlist">Synonyms</li>
                <li class="comlist">Error Correction</li>
                <li class="comlist">Fill in the blanks</li>
                <li class="comlist">Comprehension</li>
                <li class="comlist">Grammar Concepts</li>
                <li class="comlist">Idioms and Phrases</li>
            </ul>
    
   <span class="ui-g-12 textcenter">
         {{ mainsubjectname }}
   </span>
    <h4 class="ui-g-12 keyclass">
        Important Formulae or Keywords
    </h4>
    <span class="ui-g-12">
        <ul>
            <li>If A can do a piece of work in n days, then A's 1 day's work = 1/n.
            </li> <br>
            <li>
                If A's 1 day's work = 1/n , then A can finish the work in n days.
            </li> <br>
            <li>
                If A is thrice as good a workman as B, then:
                
                Ratio of work done by A and B = 3 : 1.
                
                Ratio of times taken by A and B to finish a work = 1 : 3.
            </li>
        </ul>
    </span>

    <h4 class="ui-g-12 keyclass">
        Exercise 
    </h4>
    <span class="ui-g-12 quesspan">
    
        <span class="ui-g-12 ui-g-nopad" *ngFor="let item of collection | paginate: { itemsPerPage: 10, currentPage: p } ; let i = index">
            <span class="ui-g-12">
            <span class="ui-g-12">
                <span class="sno"> {{ (i + 1) }}. </span>
                <span>
                    {{ item.q_data }}
                </span>
            </span>
            <span class="ui-g-12">
                    <ul style="list-style-type:disc;" *ngFor="let op of item.options">
                        <li class="cursor" (click)="viewanswer(item)"> {{ op }}</li>
                    </ul>
            </span>
            <span class="ui-g-12 padleft26" *ngIf="item === this.currentQ">
                <span class="sno mx-green"> Answer: </span>
                <span>
                    {{ item.answer }}
                </span>
            </span>
            <span class="ui-g-12 padleft26" *ngIf="item === this.currentQ">
                    <span class="sno mx-green"> Explanation: </span>  <br> <br>
                    <span>
                        {{ item.answer_explantion }}
                    </span>
                </span>
            <span class="ui-g-12 padleft26">
                <button class="viewans" (click)="viewanswer(item)" > View Answer </button>
            </span>
            </span>
        </span>
    </span>
    <pagination-controls (pageChange)="p = $event">
    
    </pagination-controls>
</div>