
<div class="ui-g-12" style="margin-bottom: 18%;">
    <span class="ui-g-12">
            <img class="ui-g-12 container" src="assets/home.jpg">
    </span>
    <div class="ui-g-12">
        <ul id="nav">
            <li><a href="https://trendingnews005.blogspot.com/2018/12/the-top-10-programming-languages.html">Home</a></li>

            <li><a class="hsubs" href="#">Aptitude</a>
                <ul class="subs">
                    <li class="cursor"><a href="#">Logical</a></li>
                    <li class="cursor"><a href="#">Verbal</a></li>
                    <li class="cursor"><a  (click)="Showtopics('Aptitude' , 'c')">C Aptitude</a></li>
                    <li class="cursor"><a href="#">Puzzles</a></li>
                </ul>
            </li>

            <li><a class="hsubs" href="#">Programming</a>
                <ul class="subs">
                    <li class="cursor"><a href="#">C programming</a></li>
                    <li class="cursor"><a href="#">Java</a></li>
                    <li class="cursor"><a href="#">HTML</a></li>
                    <li class="cursor"><a href="#">CSS</a></li>
                    <li class="cursor"><a href="#">Javascript</a></li>
                    <li class="cursor"><a href="#">Angular</a></li>
                    <li class="cursor"><a href="#">NodeJS</a></li>
                </ul>
            </li>
     
            <li><a class="hsubs" href="#">Interview</a>
                <ul class="subs">
                    <li><a href="#">Technical</a></li>
                    <li><a href="#">HR</a></li>
                    <li><a href="#">Coding</a></li>
                    <li  class="cursor"><a (click)="Showtopics('Service' , 'resume')">Sample Resume</a></li>
                </ul>
            </li>
            <li><a class="hsubs" href="#">Service Company</a>
                <ul class="subs">
                    <li  class="cursor"><a (click)="Showtopics('Service' , 'resume')">Sample Resume</a></li>
                    <li class="cursor"><a href="#">HR</a></li>
                    <li class="cursor"><a href="#">Interview Questions</a></li>
                </ul>
            </li>
            <li><a class="hsubs" href="#">Product Company</a>
                <ul class="subs">
                    <li><a href="#">Technical</a></li>
                    <li><a href="#">HR</a></li>
                    <li><a href="#">Coding</a></li>
                </ul>
            </li>
            <li><a class="hsubs" href="#">Online Test</a>
                <ul class="subs">
                    <li><a href="#">Technical</a></li>
                    <li><a href="#">HR</a></li>
                    <li><a href="#">Coding</a></li>
                </ul>
            </li>
            <li><a class="hsubs" href="#">Practice</a>
                <ul class="subs">
                    <li><a href="#">Technical</a></li>
                    <li><a href="#">HR</a></li>
                    <li><a href="#">Coding</a></li>
                </ul>
            </li>
            <li><a class="hsubs" href="#">Contact</a>
                <ul class="subs">
                </ul>
            </li>
            <li><a class="hsubs" href="#">About</a>
                <ul class="subs">
                </ul>
            </li>
            <!-- <div id="lavalamp"></div> -->
        </ul>
    </div>
    <span class="ui-g-3 ui-g-nopad textcolor">
            <!-- <img class="ui-g-12" src="assets/interview.png">
            Never stop learning, because life never stops teaching

            practice makes perfect -->
     </span>


     <div class="ui-g-12">
            <app-aptitude *ngIf="showaptitude"></app-aptitude>
            <app-sample-resume *ngIf="showresume">
            </app-sample-resume>
            <app-question-creation>
                
            </app-question-creation>
     </div>

    

    <p-blockUI [blocked]="blocked">
        <p-progressSpinner id="spinnerId" strokeWidth="5"></p-progressSpinner>
    </p-blockUI>
      
</div>

