/* You can add global styles to this file, and also import other style files */
body {
    font: 14px/1.3 Arial,sans-serif;
    background-color: #212121;
}

.textcolor {
    color: #ffffff;
}
.textcenter {
    text-align: center
}